.swiper-container {
    width: 100%;
    height: max-content;
    position: relative;
    /* margin-bottom: 5vh; */
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fafafa;
    border-radius: 10px;
    border: solid 1px #000000;

    background: url("../images/background-card.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.swiper-slide .img-box {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background: url("../images/gato_dark-3.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.img-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.swiper-slide h4 {
   margin-top: 2vh;
    color: #414141;
}

.swiper-button-next,
.swiper-button-prev {
    color: #0031c615 !important;

}

.swiper-pagination {
    display: none;
}

.rating {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating .stars {
    font-size: 18px;
    color: #ce7317;
}

.rating-count {
    margin-left: 7px;
    font-size: 13px;
    color: #666;
}

